.Header_3 {
    background-color: rgba(255, 255, 255, .45);
    margin-bottom: 4rem;
}

.Hamburger-menu {
    display: none;
}

.Header_3-wrapper {
    padding-top: 2em;
}

.Header_3-list {
    margin: 0;
    padding: 0;
}

.Header_3-list li {
    display: inline-block;
    color: white;
}

.Header_3-listItem a {
    display: inline-block;
    color: white;
    padding: 1em;
}

.Header_3-list li:hover {
    background-color: rgba(0, 0, 0, .08);
    transition: background-color .2s;
}

.Header_3-logo {
    display: inline-block;
    padding: .6em 0 0 .5em;
    color: white;
    font-size: 1.4em;
    letter-spacing: 4px;
}

.Header_3-logo:hover {
    color: white;
    text-decoration: none;
}

.Header_3-back {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8rem;
}

.Header-list--mobile {
    display: block !important;
}

.Header-list--mobile li {
    display: inline-block;
    transition: 1s;
}

@media screen and (max-width: 1280px) {
    .Header_3-list a {
        display: inline-block;
        padding: .8em;
        font-size: 14px;
        color: black;
    }
}

@media screen and (max-width: 992px) {
    .Header_3-wrapper {
        padding-top: 1em;
    }

    .Header_3-list {
        display: none;
    }

    .Header_3-logo {
        padding: .6em 0 0 .5em;
        font-size: 1.2em;
        letter-spacing: 3px;
    }

    .Hamburger-menu {
        display: block;
    }
}