.Room-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 8px;
    transition-duration: 0.1s;
}

.Room-wrapper:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.Room-img {
    border-radius: 8px 0 0 8px;
}

.Room-number {
    padding-top: 16px;
    font-weight: 700;
    font-size: 20px;
    color: #423227;
    margin-bottom: 0;
}

.Room-price {
    font-weight: 700;
    font-size: 24px;
    padding: 8px 16px 0 16px;
    color: #423227;
    margin-bottom: 0;
}

.Room-options {
    list-style-type: none;
    padding: 8px 0 0 0;
}

.Room-options li {
    color: gray;
    font-size: 14px;
    font-weight: 300;
}