.About-wrapper {
    padding: 10rem 0 0;
}

.About-wrapper:last-child {
    padding: 6em 0;
}

.About-img {
    width: 100%;
}

.About-header {
    padding-top: 2rem;
    font-size: 54px;
    color: #746248;
    font-weight: 300;
}

.About-header:after {
    max-width: 300px;
    margin: 0 0 .3em;
    height: 1px;
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, .24);
}

.About-text {
    font-weight: 300;
    margin-right: 1.2rem;
    color: #423227;
    font-size: 15px;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
    .About-wrapper {
        padding: 1rem 0;
    }
}