.LangSwitcher-wrapper {
    position: relative;
}

.LangSwitcher-wrapper:hover > .LangSwitcher-selector {
    display: inline-block;
}

.LangSwitcher-selector {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .23);
    top: 100%;
    left: 0;
}

.LangSwitcher-changer {
    padding: 1em;
    float: left;
}

.LangSwitcher-changer:hover {
    cursor: pointer;
}