.Booking-filter {
    padding-top: 2rem;
    /*margin-top: 8rem;*/
}

.Booking-header {
    background-image: url(http://www.gravenhof.be/assets/images/arrangementen/bottom-l.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.Booking-text {
    text-align: center;
    font-size: 14px;
    color: gray;
}

.hotel-calendar {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px;
}

.hotel-calendar .react-calendar__tile--active,
.hotel-calendar .react-calendar__tile--active:hover,
.hotel-calendar-he .react-calendar__tile--active,
.hotel-calendar-he .react-calendar__tile--active:hover {
    background-color: #423b3b !important;
}

.react-calendar__tile {
    padding: 0.75em;
}

.hotel-calendar .react-calendar__tile--rangeStart,
.hotel-calendar-he .react-calendar__tile--rangeEnd {
    border-radius: 8px 0 0 8px !important;
}

.hotel-calendar .react-calendar__tile--rangeEnd,
.hotel-calendar-he .react-calendar__tile--rangeStart {
    border-radius:  0 8px 8px 0 !important;}

.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd {
    border-radius: 8px !important;
}
