.modal-wrapper {
    padding: 2em .5em;
    width: 100%;
}

.modal-wrapper input,
.modal-wrapper textarea {
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: 10px 6px;
    margin: .5em 0;
}

.modal-wrapper textarea {
    height: 160px;
    resize: none;
}

.modal-wrapper button,
.GalleryModal-button {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: .5em 2em;
    width: 100%;
}

.GalleryModal-button {
    margin-top: 2em;
}

.GalleryModal-header {
    background-image: url(http://www.gravenhof.be/assets/images/hotel/bottom-1200.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.GalleryModal-wrapper {
    padding: 1em 0;
}

.image-gallery-modal-thumbnail.active {
    border: 2px solid #337ab7 !important;
}

.image-gallery-modal-image img {
    max-height: 90vh !important;
    object-fit: contain;
}

.image-gallery {
    z-index: 9999;
}
