.Hotel-header {
    background-image: url(../../images/headers/hotel.jpg);
    background-position: left;
    background-size: cover;
    height: 600px;
}

.Hotel-header-text {
    color: white;
    font-weight: normal;
    font-size: 3em;
}

.Hotel-content {
    padding-top: 2em;
    align-content: center;
}

@media screen and (max-width: 768px) {
    .Hotel-header {
        width: 100%;
        height: 100%;
    }

    .Hotel-header-text {
        font-size: 2em;
    }
}
