.Footer-wrapper {
    background-color: #393333;
    padding: 2rem 0 1rem;
}

.Footer-address {
    color: white;
    font-size: 13px;
    font-weight: 300;
}

.Footer-address b {
    font-weight: 700;
    font-size: 14px;
}

.Footer-address p {
    margin-bottom: 0.5rem;
}

.Footer-menu {
    color: white;
    font-weight: 300;
    float: right;
    padding-right: 15px;
    font-size: 14px;
    min-width: 100%;
}

.Footer-menuItem {
    padding: .5rem 0;
    border-bottom: 1px solid rgba(255,255,255,.19);
    min-width: 100%;
    text-align: right;
}

.Footer-menuItem a {
    color: white;
}

.Footer-menuItem a:hover {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .Footer-menu {
        display: none;
    }
}