.Intro-wrapper {
    padding-top: 16vh;
    font-weight: 300;
    color: black;
}

.Intro-header {
    color: black;
    font-weight: 300;
    background-color: rgba(255, 255, 255, .75);
    margin-bottom: 0;
    padding: 0 16px;
}

.Intro-hotelname {
    font-size: 1.4em;
}

.Intro-subtext {
    background-color: rgba(255, 255, 255, .75);
    padding: 1em;
    line-height: 1.8;
    margin-bottom: 0;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
    .Intro-wrapper {
        padding-top: 24%;
    }

    .Intro-hotelname {
        font-size: 1em;
    }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
    .Intro-wrapper {
        padding-top: 2%;
    }

    .Intro-hotelname {
        font-size: 1em;
    }
}