.Contact-header {
    background-image: url(../../images/headers/contacts.jpg);
    background-position: left;
    background-size: cover;
    height: 600px;
}

.Contact-header-text {
    color: white;
    font-weight: normal;
    font-size: 3em;
}

.Contact-content {
    padding-top: 2em;
}

@media screen and (max-width: 768px) {
    .Contact-header {
        width: 100%;
        height: 100%;
    }

    .Contact-header-text {
        font-size: 2em;
    }
}
