.Restaurant-header {
    background-image: url(../../images/headers/restaurant.JPG);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.Restaurant-wrapper {
    padding: 1em 0 3em;
}

.image-restaurant-thumbnail.active {
    border: 2px solid #337ab7 !important;
}

.image-restaurant-image img {
    max-height: 90vh !important;
    object-fit: contain;
}
