@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&subset=cyrillic');

html,
body,
main,
#root {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif !important;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none !important;
}

img {
    max-width: 100%;
}