.Header {
    background-color: rgba(255, 255, 255, .65);
    position: relative;
}

.Header-wrapper {
    padding-top: 2em;
}

.Header-list {
    margin: 0;
    padding: 0;
}

.Header-list li {
    display: inline-block;
    color: black;
}

.Header-listItem a {
    display: inline-block;
    padding: 1em;
    color: black;
}

.Header-list li:hover {
    background-color: rgba(0, 0, 0, .08);
    transition: background-color .2s;
}

.Header-logo {
    display: inline-block;
    padding: .6em 0 0 .5em;
    color: black;
    font-size: 1.4em;
    letter-spacing: 4px;
}

.Header-logo:hover {
    color: black;
    text-decoration: none;
}

.Hamburger-menu {
    position: absolute;
    top: 13px;
}

@media screen and (max-width: 1280px) {
    .Header-listItem a {
        display: inline-block;
        padding: .8em;
        font-size: 14px;
        color: black;
    }
}

@media screen and (max-width: 992px) {
    .Header-wrapper {
        padding-top: 1em;
    }

    .Header-list {
        display: none !important;
    }

    .Header-logo {
        padding: .6em 0 0 .5em;
        font-size: 1.2em;
        letter-spacing: 3px;
    }
}

.blink_stocks {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
