.Gallery-header {
    background-image: url(../../images/headers/gallery.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.Gallery-wrapper {
    padding: 1em 0 3em;
}

.image-gallery-thumbnail.active {
    border: 2px solid #337ab7 !important;
}

.image-gallery-image img {
    max-height: 90vh !important;
    object-fit: contain;
}
