.NewsList-header {
    background-image: url(../../images/headers/news.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    color: white;
}

.NewsList-header-text {
    color: white;
    font-weight: normal;
    font-size: 3em;
}

.NewsList-header-subtext {
    color: white;
    font-weight: normal;
    font-size: 1.5em;
}

.NewsList-list {
    padding: 2em 0;
}

.NewsList-item {
    font-weight: 400;
    padding-bottom: 1em;
    margin: 1em 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, .24);
}

.NewsList-item--link {
    display: block;
    color: black;
}

.NewsList-item--date {
    color: grey;
    font-size: .8em;
}

.NewsItem-content {
    margin-top: 1em;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .NewsList-header {
        width: 100%;
        height: 100%;
        color: white;
    }

    .NewsList-header-text {
        font-size: 2em;
    }

    .NewsList-header-subtext {
        font-size: 1em;
    }

    .NewsList-item {
        margin: 1em;
    }
}