.LangSwitcher-wrapper {
    position: relative;
    padding: 1em;
    cursor: pointer;
}

.LangSwitcher-wrapper:hover > .LangSwitcher-selector {
    display: inline-block;
}

.LangSwitcher-selector {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .5);
    top: 100%;
    left: 0;
}

.LangSwitcher-changer {
    padding: 1em;
    float: left;
}

.LangSwitcher-changer:hover {
    cursor: pointer;
}