.BookingLink-wrapper a {
    padding: 1em;
    background-color: rgba(255, 255, 255, .75);
    display: block;
    width: 100%;
    color: black;
    font-size: 1.2rem;
}

.BookingLink-wrapper a:hover {
    background-color: rgba(255, 255, 255, .85);
    text-decoration: none;
    transition: background-color .2s;
}
