.Comments-row {
    border-bottom: 1px solid #eaeaea;
    position: relative;
    padding-top: 1em;
    text-align: justify;
    font-size: 14px;
}

.Comments-header {
    background-image: url(../../images/headers/comments.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.Comments-wrapper {
    padding-top: 2em;
}

.Comments-stars img {
    width: 16px;
    padding-bottom: 4px;
}

.Comments-stars {
    margin-left: 1em;
}

.Comments-add-form {
    background-color: white;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding: .5em 2em;
    width: 100%;
}

.Comment-textarea,
.Comment-input {
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    padding: 4px;
    resize: none;
}

.Comment-textarea {
    height: 160px;
}

.Comment-input {
    height: 80px;
}

.points_input {
    padding: .75em;
    display: inline-block;
}

.social-button-wrapper {
    display: inline-block;
    margin: 0 1em;
    margin-top: -.5em;
}

.my-facebook-button-class {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

.my-facebook-button-class .fa {
    color: #4267B2;
    font-size: 1.5em;
    margin: 0 22px 0 12px;
    padding: 0;
}