.History-header {
    background-image: url(http://www.gravenhof.be/assets/images/hotel/bottom-1200.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.History-header-text {
    color: white;
    font-weight: normal;
    font-size: 3em;
}

.History-content {
    padding-top: 2em;
}

@media screen and (max-width: 768px) {
    .History-header {
        width: 100%;
        height: 100%;
    }

    .History-header-text {
        font-size: 2em;
    }
}